* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Norse;
    font-weight: bold;
    src: url('Norse-Bold.otf');
}

body {
    display: flex;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hero-shot {
    display: flex;
    flex-direction: column;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    color: #fff;
    height: 100vh;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    min-width: 37vw;
}

.odin-logo {
    display: flex;
    font-size: 48px;
    background-color: hsla(0, 0%, 0%, 0.6);
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    width: 100%;
    font-family: 'Norse';
    font-weight: bold;
    font-size: 6rem;
    height: 15vh;
}

.bg-credit {
    text-justify: center;
    padding: 20px;
    color: hsl(0, 0%, 90%);
    font-size: 0.9rem;
}

.bg-credit > a {
    color: hsl(0, 0%, 90%);
}

.main-area {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    width: 100%;
}

.header-info {
    height: 35vh;
    padding: 30px;
    display: flex;
    align-items: flex-end;
}

.header-info > h3 {
    max-width: 55ch;
}


.form-area {
    padding: 30px;
    background-color: hsl(0,0%,100%);
    box-shadow: 0px 5px 6px 0px hsl(0,0%,50%, 0.2);
}

fieldset {
    border: none;
    display: flex;
    font-weight: 800;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color: hsl(0,0%,40%);
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 0;
}

.form-title {
    margin: 10px;
}

.submit-info {
    padding: 40px;
}

input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background-color: hsl(0,0%,99.5%);
}

input:hover {
    background-color: hsl(0, 0%, 95%);
}

input:focus {
    background-color: hsl(131, 52%, 96%);
}

input:valid {
    background-color: hsl(131, 53%, 84%);
}

input:invalid {
    background-color: hsl(0, 49%, 83%);
}

button {
    border-style: none;
    padding: 20px;
    background-color: #596D48;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    margin: 10px 0;
    width: 200px;
    font-size: 1.1rem;

}